.Tiles {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.Summary {
    h2 {
        text-align: center;
        color: white;
        font-size: 24px;
        margin: 0;
    }

    .Title {
        padding-left: 16px;
        text-align: left;
    }

    .SummaryBox {
        margin-bottom: 16px;
    }
}