.Register {
    width: 100%;
    max-width: 400px;
}

.Register > fieldset {
    margin-bottom: 10px;
}

.Register button {
    margin-top: 16px;
}

p {
    color: white;
}

a {
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

a:hover {
    color: grey;
}

svg {
    color: white;
    margin-bottom: 40px;
}

@media(min-width: 450px) {
    .Register {
        border: 1px solid white;
        border-radius: 10px;
        padding: 40px;
    }
}