.Button {
    background: 0;
    border: 2px solid white;
    height: 30px;
    min-width: 100px;
    color: white;
    border-radius: 6px;
    font-size: 17px;
}

.Button:hover {
    background: rgba(124, 122, 122, 0.589);
}

.Button:disabled {
    border-color: rgba(124, 122, 122, 0.9);;
    color: rgba(124, 122, 122, 0.9);
}

.Button:disabled:hover {
    background: none;
}