@import "../../config/colors";

.SideDrawer {
    height: 100vh;
    top: 0;
    width: 70vw;
    z-index: 200;
    position: fixed;
    background-color: $secondary-color;
    transition: transform .25s;
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    max-width: 300px;
    align-items: center;
    padding-top: 70px;
    transform: translateX(-100%);

    button {
        margin: 16px 0;
    }

    .SideDrawerLinks {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;

        hr {
            width: 85%;
            border-color: $primary-color;
        }

        a {
            color: $primary-color;
            padding: 8px 16px;
            width: 100%;
            text-align: center;
            text-decoration: none;
            font-size: 24px;

            &:hover {
                color: lighten($primary-color, 20);
            }
        }
    }

    &.Shown {
        transform: translateX(0);
    }
}