.Navbar {
    background-color: darkgreen;
    height: 50px;
    display: flex;
    justify-content: space-between;
    z-index: 300;
    position: sticky;
    top: 0;

    nav {
        display: flex;
        flex-grow: 1;
    }

    ul {
        margin: 0 22px;
        padding: 0;
        height: 100%;
        justify-content: flex-end;
        align-items: center;
        display: flex;
        flex-grow: 1;
    }

    a {
        display: none;

        &.Active {
            display: flex;
            text-decoration: none;
            font-weight: bold;
            font-size: 25px;
        }
    }
}