.Burger {
    width: 50px;
    justify-content: center;
    display: flex;
    align-items: center;

    svg {
        margin: 0;

        &:hover {
            cursor: pointer;
            outline: 0;
        }
    }
}