@import "../../../config/colors";

.Incoming {
    border: 1px solid $secondary-color;
    border-radius: 5px;
    text-align: center;
    color: $secondary-color;
    margin: 10px;
    box-shadow: 1px 1px 5px;

    > * {
        margin: 0;
    }

    p {
        margin: 0;

        &.Capitalise {
            text-transform: capitalize;
        }
    }
}