@import "../../config/colors";

.FieldSet {
    padding: 0;
    border: 1px solid rgba($secondary-color, 0.4);
    border-radius: 5px;
    color: $secondary-color;

    legend {
        margin-left: 5px;
        text-align: left;
        color: rgba($secondary-color, 0.4);
        min-height: 25px;
        font-size: 18px;
    }

    &.Invalid {
        border-color: rgba($error-color, 0.7);

        legend {
            color: rgba($error-color, 0.7);
        }
    }

    input {
        padding: 0 8px;
        margin: 0;
        width: 100%;
        background: 0;
        border: 0;
        color: $secondary-color;
        margin-bottom: 9px;
        font-size: 20px;

        &:focus {
            border: 0;
            outline: 0;
        }
    }

    &.Invert {
        border: 1px solid rgba($primary-color, 0.4);
        color: $primary-color;

        legend {
            color: rgba($primary-color, 0.4);
        }

        input {
            color: $primary-color;
        }
    }
}