.FieldSet {
    padding: 0;
    border: 1px solid rgba(255, 255, 255, 0.479);
    border-radius: 5px;
    color: white;
}

legend {
    margin-left: 5px;
    text-align: left;
    color: rgba(255, 255, 255, 0.479);
    min-height: 25px;
}

.Invalid {
    color: red;
    border-color: red;
}

.Invalid legend {
    color: red;
}

input {
    padding: 0 8px;
    margin: 0;
    width: 100%;
    background: 0;
    border: 0;
    color: white;
    margin-bottom: 9px;
    font-size: 20px;
}

input:focus {
    border: 0;
    outline: 0;
}