.Auth {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
}

.Auth input {
    width: 100%;
    margin-bottom: 40px;
}