@import "../../config/colors";

.Incomings {
    text-align: center;

    > * {
        margin: 16px;
    }

    svg {
        color: $secondary-color;
    }
}

.ButtonRow {
    margin-top: 8px;
    display: flex;
    justify-content: space-evenly;
}