@import "./config/colors";

body {
    background: linear-gradient(22deg, black 10%,  $background-color 100%);
    margin: 0;
    font-family: 'Blinker', sans-serif;
    height: 100vh;
}

* {
    box-sizing: border-box;
}